HTML, body{
  font-family : sans-serif;
  background: deeppink;
    text-align : center;
}

.list{
    display : flex;
    flex-wrap : wrap;
    padding : 10px 10px;
}

.end{
    flex-basis : 25%;
    padding : 14px;
    box-sizing: border-box;

}
.container{
    margin: 4%;
    background-image: url('https://media.giphy.com/media/vsyKKf1t22nmw/giphy.gif?response_id=591cd6cd98d050c522d456d1');
}

.spec{
  background-color: black;
  padding: 4px 14px 4px 14px;
  color: pink;
  font-weight: bolder;
}

img {
  width: 120px;
  height: 120px;
}

img:hover {
  height: 500px;
  width: 500px;
  background-image: url('https://media.giphy.com/media/vsyKKf1t22nmw/giphy.gif?response_id=591cd6cd98d050c522d456d1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  visibility: hidden;
}

.ab{
  background-color: gray;
  padding: 4px 14px 4px 14px;
  color: black;
}


